.btn-group {
    height: 60px;
    background-color: green;
}

.btn-secondary {
    background-color: green;
    border: none;
}

.btn-secondary:hover {
    background-color: lightgreen;
}

